NODE_ENV=development
LOG_LEVEL=debug
LOG_PRETTY=true

KAFKA_BROKERS=localhost:9094
KAFKA_CLIENT_ID=card-processor
KAFKA_GROUP_ID=card-processor-group

SQLITE_PATH=./data/card-processor.sqlite

# Latencia simulada para el "proveedor externo"
SIMULATED_LATENCY_MIN_MS=200
SIMULATED_LATENCY_MAX_MS=500

# Probabilidad de éxito de un intento (0..1)
SUCCESS_PROBABILITY=0.6
